/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*----------------------
        Clear fix
----------------------*/
.cf:before,
.cf:after {
  display: table;
  content: "";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*----------------------
          Base
----------------------*/
body {
  width: 100%;
  font-size: 17px;
  font-family: sans-serif;
  background: #f6f6f6;
  color: #000;
}

a {
  color: #0645ad;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*----------------------
          Module
----------------------*/
.bold {
  font-weight: bold;
}

.f-blue {
  color: #0645ad;
}

small {
  font-size: 12.7px;
}

/*----------------------
          Layout
----------------------*/
main {
  margin-top: -42px;
}

/*----------------------
          Body
----------------------*/
/*-- header --*/
header {
  height: 90px;
  background: linear-gradient(#fff 50%, #f6f6f6);
  font-size: 13.5px;
  line-height: 15px;
}

header > ul {
  display: inline-block;
  float: right;
  padding-top: 10px;
  padding-right: 13px;
}
header > ul li {
  display: inline-block;
  padding-right: 5px;
}
header > ul li:first-child {
  color: #707070;
}
header > ul li:first-child i {
  padding-right: 4px;
}
header > ul li:last-child {
  padding-right: 0;
}

/*-- main --*/
#main-sidebar {
  width: 150px;
  float: left;
  margin-top: -48px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 13.5px;
  line-height: 15px;
  border: 1px dashed #000;
}
#main-sidebar .site-main-icon {
  margin-bottom: 20px;
}
#main-sidebar div {
  position: relative;
}
#main-sidebar div .contents-title {
  margin-bottom: 6px;
  background-image: url("../img/main_sidebar_boder.png");
  background-position: bottom;
  background-repeat: no-repeat;
  height: 24px;
}
#main-sidebar div ul {
  margin-bottom: 20px;
}
#main-sidebar div ul li {
  padding: 5px 0;
}
#main-sidebar div .contents-icon {
  position: absolute;
  right: 5px;
  top: -10px;
  color: #808080;
  font-size: 17px;
}
#main-sidebar div .contents-icon:hover {
  color: #555;
}
#main-sidebar div .link-add {
  float: right;
  color: #808080;
}
#main-sidebar div .link-add:hover {
  color: #0645ad;
}

#main-body {
  margin-left: 200px;
}

.main-body-header {
  height: 44px;
  font-size: 14.5px;
  border-bottom: 1px solid #a7d7f9;
}
.main-body-header ul, .main-body-header li {
  display: inline-block;
}
.main-body-header li {
  border-image: url("../img/main_header_border.png") 1 stretch;
  border-width: 0 0 0 1px;
  border-style: solid;
}
.main-body-header li a {
  display: inline-block;
  padding: 22px 10px 8px 10px;
  background: linear-gradient(#fff 30%, #e8f2f8);
  border-bottom: 1px solid #a7d7f9;
}
.main-body-header li .bg-white {
  background: #fff;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.main-body-header li:last-child {
  border-image: url(../img/main_header_border.png) 1 stretch;
  border-width: 0 1px 0 1px;
  border-style: solid;
}
.main-body-header .left {
  float: left;
}
.main-body-header .right {
  float: right;
}
.main-body-header form {
  margin-top: 10px;
  margin-left: 9px;
  margin-right: 18px;
  border: 1px solid #aaa;
  position: relative;
}
.main-body-header form input[type="search"] {
  height: 25px;
  width: 225px;
  border: none;
  background: #eee;
  background: linear-gradient(#f6f6f6, #fff);
  padding-left: 3px;
}
.main-body-header form input::-webkit-input-placeholder {
  color: #727780;
  font-size: 13px;
}
.main-body-header form i {
  position: absolute;
  right: 3px;
  top: 5px;
  font-size: 14px;
  color: #6c6c6c;
}

.main-body-main {
  border: solid #a7d7f9;
  border-width: 0 0 1px 1px;
  padding: 27px 29px;
  background: #fff;
}
.main-body-main .section-top .title-box {
  border-bottom: 1px solid #a2a9b1;
  padding-bottom: 5px;
}
.main-body-main .section-top .title-box h1 {
  display: inline-block;
  font-size: 32.5px;
}
.main-body-main .section-top .title-box .rock_icon {
  float: right;
}
.main-body-main .section-top .caution-box {
  width: 580px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 15px 0 5px 16px;
  border: 1px solid #aaa;
  border-left: 10px solid #f28500;
  background: #fbfbfb;
  font-size: 15px;
  line-height: 24.5px;
  box-sizing: border-box;
}
.main-body-main .section-top .caution-box img, .main-body-main .section-top .caution-box div {
  display: inline-block;
  vertical-align: middle;
}
.main-body-main .section-top .caution-box div {
  width: 483px;
  margin-left: 10px;
}
.main-body-main .section-top .caution-box div p {
  margin-bottom: 5px;
}
.main-body-main .section-top .caution-box div ul {
  margin-left: 6px;
  padding-left: 1em;
  text-indent: -1em;
}
