/*Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*----------------------
      compass 変数
----------------------*/
$black: #000;
$link-blue: #0645ad;
$lightgray: #f6f6f6;
$border-gray: #a2a9b1;
$header-li-gray: #707070;
$sidebar-link-gray: #808080;
$border-blue: #a7d7f9;
$hover-darkgray: #555;
$box-border-gray: #aaa;
$lightblue: #e8f2f8;
$form-bg-gray: #eee;
$form-placeholder-gray: #727780;
$form-icon-gray: #6c6c6c;
$border-orange: #f28500;
$caution-box-bg-lightgray: #fbfbfb;
$figure-border-gray: #c8ccd1;
$box-bg-lightgray: #f8f9fa;
$so-darkgray: #222;
$table-bg-hilightgray: #fdfdfd;
$pastelpurple: #ccccff;
$pastel-lightpurple: #ddddff;
$pastel-hilightpurple: #e6e6ff;
$tbody-bg-lightgray: #f7f7f7;

/*----------------------
        Clear fix
----------------------*/
.cf:before,
.cf:after {
    display: table;
    content: "";
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/*----------------------
          Base
----------------------*/
body {
	width: 100%;
	font-size: 17px;
	font-family: sans-serif;
	background: $lightgray;
	color: $black;
}
a {
	color: $link-blue;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h2 {
	margin-bottom: 8px;
	border-bottom: 1px solid $border-gray;
	line-height: 33.1px;
	font-size: 25.4px;
}
h3 {
	padding: 10px 0;
	line-height: 32.6px;
	font-size: 20.3px;
	font-weight: bold;
}
/* cssリセットされるので再指定 */
sup {
	vertical-align: super;
	font-size: smaller;
	line-height: 1em;
}
/*----------------------
          Module
----------------------*/
.bold {
	font-weight: bold;
}
.f-blue {
	color: $link-blue;
}
.f-black {
	color: $black;
}
.link-red {
	color: #ba0000;
}
.link-small {
	font-size: 13px;
}
small {
	font-size: 12.7px;
}
.fs-oblique {
	font-style: oblique;
}

/*----------------------
          Layout
----------------------*/
article {
	margin-top: -42px;
}

/*----------------------
          Body
----------------------*/

/*-- header --*/
header {
	height: 90px;
	background: linear-gradient( #fff 50%, $lightgray);
	font-size: 13.5px;
	line-height: 15px;
}
header > ul{
	display: inline-block;
	float: right;
	margin-top: 13px;
	margin-right: 11.5px;
	li {
		display: inline-block;
		margin-right: 6.5px;
	}
	li:first-child {
		color: $header-li-gray;
		i {
			padding-right: 4px;
		}
	}
	li:last-child {
		padding-right: 0;
	}
}

/*-- article --*/
#main-sidebar {
	width: 198px;
	float: left;
	margin-top: -45px;
	padding-left: 30px;
	padding-right: 22px;
	font-size: 13.5px;
	line-height: 15.1px;
	box-sizing: border-box;
	.site-main-icon {
		margin-left: 2px;
		margin-bottom: 27px;
	}
	div {
		position: relative;
		.contents-title {
			margin-bottom: 6px;
			border-image: url("../img/main_sidebar_boder.png") 1 stretch;
			border-width: 0 0 1px 0;
			border-style: solid;
			height: 21px;
		}
		ul {
			margin-bottom: 21px;
			li {
				padding: 3.4px 0;
			}
		}
		.contents-icon {
		position: absolute;
		right: -2px;
		top: -12px;
		color: $sidebar-link-gray;
		font-size: 17px;
		}
		.contents-icon:hover {
			color: $hover-darkgray;
		}
		.link-add {
			float: right;
			margin-top: -2px;
			margin-right: 4px;
			color: $sidebar-link-gray;
		}
		.link-add:hover {
			color: $link-blue;
		}
	}
}

#main-body {
	margin-left: 198px;
	margin-top: -3px;

}
.main-body-header {
	height: 44px;
	font-size: 14.5px;
	border-bottom: 1px solid $border-blue;
	ul {
		margin-top: -3px;
	}
	ul, li {
		display: inline-block;
	}
	li {
		border-image: url("../img/main_header_border.png") 1 stretch;
		border-width: 0 0 0 1px;
		border-style: solid;
		a {
			display: inline-block;
			padding: 21px 6px 9px 7px;
		    background: linear-gradient( #fff 30%, $lightblue);
		    border-bottom: 1px solid $border-blue;
		}
		.bg-white {
			background: #fff;
			color: #000;
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}
	}
	li:last-child {
		border-image: url(../img/main_header_border.png) 1 stretch;
		border-width: 0 1px 0 1px;
		border-style: solid;
	}
	.left {
		float: left;
	}
	.right {
		float: right;
	}
	form {
		margin-top: 9px;
		margin-left: 9px;
		margin-right: 18px;
		border: 1px solid $box-border-gray;
		position: relative;
		box-sizing: border-box;
		input[type="search"] {
			height: 25px;
			width: 222px;
			border: none;
			background: $form-bg-gray;
			background: linear-gradient( $lightgray, #fff);
		}
		input::-webkit-input-placeholder{
   			color: $form-placeholder-gray;
   			font-size: 13px;
   			position: absolute;
   			top: 3px;
   			left: 2.5px;
		}
		i {
			position: absolute;
			right: 3px;
			top: 5px;
			font-size: 13px;
			color: $form-icon-gray;
		}
	}
}
.main-body-main {
	border: solid $border-blue;
	border-width: 0 0 1px 1px;
	padding: 28px 27px 23px;
	background: #fff;
	.section-top {
		.title-box {
			border-bottom: 1px solid $border-gray;
			padding-bottom: 5px;
			h1 {
			display: inline-block;
			font-size: 32.5px;
			}
			.rock_icon {
				float: right;
			}
		}
		.caution-box {
			width: 575px;
			margin: 0 auto;
			margin-top: 19px;
			margin-bottom: 9px;
			padding: 13px 0 5px;
			border: 1px solid $box-border-gray;
			border-left: 10px solid $border-orange;
			background: $caution-box-bg-lightgray;
			font-size: 15.3px;
			line-height: 24.5px;
			position: relative;
			img {
				position: absolute;
				top: 57px;
				left: 16px;
			}
			div {
				width: 490px;
				margin-left: 72px;
				p {
					margin-bottom: 8px;
				}
				ul {
					margin-left: 7px;
					padding-left: 17px;
					text-indent: -17px;
					span:first-child {
						margin-right: 2px;
					}
				}
			}
		}
		figure, figure img {
			border: 1px solid $figure-border-gray;
		}
		figure {
			position: relative;
			float: right;
			margin-left: 20px;
			padding: 3px 3px 9px 3px;
			background: $box-bg-lightgray;
			figcaption {
				margin-top: 3px;
				margin-left: 3px;
				font-size: 15px;
			}
			a {
				position: absolute;
				right: 8px;
				bottom: 15px;
				font-size: 10px;
				color: #000;
			}
		}
		> p {
			line-height: 27.1px;
			margin-bottom: 8.2px;
		}
		.topic {
			width: 290px;
			margin-bottom: 25px;
			padding: 9px 7px 15px;
			background: $box-bg-lightgray;
			border: 1px solid $border-gray;
			font-size: 16.1px;
			box-sizing: border-box;
			h4 {
				margin-left: -4px;
				margin-bottom: 5px;
				text-align: center;
				line-height: 20.9px;
				> span:last-child {
					font-size: 15px;
				}
			}
			ol {
				line-height: 25.8px;
				li {
					padding: 1.6px 0;
				}
				.topic-No-pr {
					padding-right: 8px;
				}
			}
			> ol > li {
				margin-top: -1px;
			}
			> ol >li:first-child {
				margin-bottom: 1px;
			}
			ol ol {
				margin-left: 32px;
				li:nth-of-type(1) {
					margin-top: 0px;
					padding: 0;
				}
				li + li {
					padding: 0.6px 0;
				}
				.topic-No-pr {
					padding-right: 9px;
				}
			}
		}
	}/* /.section-top */
	section {
		p , li {
			line-height: 27.1px;
		}
		p {
			margin-bottom: 10px;
		}
		p:last-child , > ul {
			margin-bottom: 20px;
		}
		.underline {
			border-bottom: 1px dashed $so-darkgray;
		}
		> ul {
			margin-left: 10px;
		}
		/* /.fa-external-link */
		i {
			margin-left: 3px;
			font-size: 10px;
		}
	}
	section.footnote {
		font-size: 15.3px;
		ol {
			margin-left: 50px;
			margin-bottom: 20px;
			list-style-type: decimal;
			li {
				margin-bottom: 0;
				line-height: 24.4px;
			}
		}
	}
	section:last-child {
		position: relative;
		.table-img-cat {
			position: absolute;
			top: 600px;
			right: 3px;
		}
		> ul {
			margin-bottom: 3px;
		}
		table {
			padding: 1px;
			border: 1px solid $box-border-gray;
			border-collapse: separate;
			border-spacing: 2px;
			background: $table-bg-hilightgray;
			font-size: 14.9px;
			line-height: 23.9px;
			th {
				width: 105px;
				padding-right: 13px;
				box-sizing: border-box;
			}
			li {
				display: inline-block;
				margin-top: -4px;
				span {
					font-size: 11.5px;
					line-height: 18.4px;
				}
			}
			thead {
				background: $pastelpurple;
				th {
					height: 28px;
					position: relative;
					text-align: center;
					font-size: 16.4px;
					span:first-child {
						position: absolute;
						top: 1px;
						left: 5px;
						margin-left: 10px;
						font-size: 11.2px;
						line-height: 17.9px;
					}
					span:last-child {
						position: absolute;
						right: 13px;
						font-size: 14.9px;
					}
				}
			}
			tbody, tfoot {
				th {
					background: $pastel-lightpurple;
				}
				th.underlayer-bg {
					width: 165px;
					background: $pastel-hilightpurple;
				}
			}
			tbody {
				th {
					text-align: right;
				}
				td {
					padding-right: 104.9px;
					ul {
						padding-left: 4px;
					}
				}
				.ul-bg-gray {
					background: $tbody-bg-lightgray;
				}
			}
			tfoot {
				th {
					padding-left: 15px;
					text-align: center;
					ul {
						height: 25px;
					}
					li {
						margin: 0;
					}
				}
			}
		}/* /table */
		> ul:last-child {
			height: 39px;
			border: 1px solid $border-gray;
			margin-top: 17px;
			margin-left: 0;
			background: $box-bg-lightgray;
			box-sizing: border-box;
			li {
				display: inline-block;
				margin-top: 8px;
				padding-left: 5px;
				line-height: 21.2px;
			}
			li:nth-of-type(2) {
				border-right: 1px solid $border-gray;
				padding-right: 9px;
			}
		}
	}
}/* /.main-body-main */

/*-- footer --*/
footer {
	margin-top: 27px;
	margin-right: 22px;
	padding-bottom: 29px;
	font-size: 12.6px;
	line-height: 17.6px;
	p, ul {
		margin-left: 220px;
	}
	p {
		margin-bottom: 12px;
	}
	ul {
		margin-bottom: 13px;
		li {
			display: inline-block;
			margin-right: 9px;
			line-height: 25.2px;
		}
	}
	img {
		float: right;
	}
	img:nth-of-type(2) {
		margin-right: 6px;
	}
}