/*Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*----------------------
        Clear fix
----------------------*/
.cf:before,
.cf:after {
    display: table;
    content: "";
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/*----------------------
          Base
----------------------*/
body {
	width: 100%;
	font-size: 17px;
	font-family: sans-serif;
	background: #f6f6f6;
	color: #000;
}
a {
	color: #0645ad;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h2 {
	margin-bottom: 8px;
	border-bottom: 1px solid #a2a9b1;
	line-height: 33.1px;
	font-size: 25.4px;
}
h3 {
	padding: 10px 0;
	line-height: 32.6px;
	font-size: 20.3px;
	font-weight: bold;
}
/* cssリセットされるので再指定 */
sup {
	vertical-align: super;
	font-size: smaller;
}
/*----------------------
          Module
----------------------*/
.bold {
	font-weight: bold;
}
.f-blue {
	color: #0645ad;
}
.f-black {
	color: #000;
}
.link-red {
	color: #ba0000;
}
.link-small {
	font-size: 13px;
}
small {
	font-size: 12.7px;
}
.fs-oblique {
	font-style: oblique;
}

/*----------------------
          Layout
----------------------*/
main {
	margin-top: -42px;
}

/*----------------------
          Body
----------------------*/

/*-- header --*/
header {
	height: 90px;
	background: linear-gradient( #fff 50%, #f6f6f6);
	font-size: 13.5px;
	line-height: 15px;
}
header > ul{
	display: inline-block;
	float: right;
	padding-top: 10px;
	padding-right: 13px;
	li {
		display: inline-block;
		padding-right: 5px;
	}
	li:first-child {
		color: #707070;
		i {
			padding-right: 4px;
		}
	}
	li:last-child {
		padding-right: 0;
	}
}

/*-- main --*/
#main-sidebar {
	width: 150px;
	float: left;
	margin-top: -48px;
	padding-left: 20px;
	padding-right: 10px;
	font-size: 13.5px;
	line-height: 15px;
	border: 1px dashed #000;
	.site-main-icon {
		margin-bottom: 20px;
	}
	div {
		position: relative;
		.contents-title {
			margin-bottom: 6px;
			background-image: url("../img/main_sidebar_boder.png");
			background-position: bottom;
			background-repeat: no-repeat;
			height: 24px;
		}
		ul {
			margin-bottom: 20px;
			li {
				padding: 5px 0;
			}
		}
		.contents-icon {
		position: absolute;
		right: 5px;
		top: -10px;
		color: #808080;
		font-size: 17px;
		}
		.contents-icon:hover {
			color: #555;
		}
		.link-add {
			float: right;
			color: #808080;
		}
		.link-add:hover {
			color: #0645ad;
		}
	}
}

#main-body {
	margin-left: 200px;

}
.main-body-header {
	height: 44px;
	font-size: 14.5px;
	border-bottom: 1px solid #a7d7f9;
	ul, li {
		display: inline-block;
	}
	li {
		border-image: url("../img/main_header_border.png") 1 stretch;
		border-width: 0 0 0 1px;
		border-style: solid;
		a {
			display: inline-block;
			padding: 22px 10px 8px 10px;
		    background: linear-gradient( #fff 30%, #e8f2f8);
		    border-bottom: 1px solid #a7d7f9;
		}
		.bg-white {
			background: #fff;
			color: #000;
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}
	}
	li:last-child {
		border-image: url(../img/main_header_border.png) 1 stretch;
		border-width: 0 1px 0 1px;
		border-style: solid;
	}
	.left {
		float: left;
	}
	.right {
		float: right;
	}
	form {
		margin-top: 10px;
		margin-left: 9px;
		margin-right: 18px;
		border: 1px solid #aaa;
		position: relative;
		input[type="search"] {
			height: 25px;
			width: 225px;
			border: none;
			background: #eee;
			background: linear-gradient( #f6f6f6, #fff);
			padding-left: 3px;
		}
		input::-webkit-input-placeholder{
   			color: #727780;
   			font-size: 13px;
		}
		i {
			position: absolute;
			right: 3px;
			top: 5px;
			font-size: 14px;
			color: #6c6c6c;
		}
	}
}
.main-body-main {
	border: solid #a7d7f9;
	border-width: 0 0 1px 1px;
	padding: 27px 29px;
	background: #fff;
	.section-top {
		.title-box {
			border-bottom: 1px solid #a2a9b1;
			padding-bottom: 5px;
			h1 {
			display: inline-block;
			font-size: 32.5px;
			}
			.rock_icon {
				float: right;
			}
		}
		.caution-box {
			width: 580px;
			margin: 0 auto;
			margin-top: 20px;
			margin-bottom: 10px;
			padding: 15px 0 5px 16px;
			border: 1px solid #aaa;
			border-left: 10px solid #f28500;
			background: #fbfbfb;
			font-size: 15px;
			line-height: 24.5px;
			box-sizing: border-box;
			img, div {
				display: inline-block;
				vertical-align: middle;
			}
			div {
				width: 483px;
				margin-left: 10px;
				p {
					margin-bottom: 5px;
				}
				ul {
					margin-left: 6px;
					padding-left: 1em;
					text-indent: -1em;
				}
			}
		}
		figure, figure img {
			border: 1px solid #c8ccd1;
		}
		figure {
			position: relative;
			float: right;
			margin-left: 20px;
			padding: 3px 3px 8px 3px;
			background: #f8f9fa;
			figcaption {
				margin-top: 3px;
				margin-left: 2px;
				font-size: 15px;
			}
			a {
				position: absolute;
				right: 8px;
				bottom: 15px;
				font-size: 10px;
				color: #000;
			}
		}
		> p {
			line-height: 27.1px;
			margin-bottom: 10px;
		}
		.topic {
			width: 290px;
			padding: 10px 7px 15px;
			background: #f8f9fa;
			border: 1px solid #a2a9b1;
			font-size: 16.1px;
			// line-height: 25.8px;
			box-sizing: border-box;
			h4 {
				margin-bottom: 7px;
				text-align: center;
				line-height: 20.9px;
			}
			ol {
				line-height: 25.8px;
				.topic-No-pr {
					padding-right: 8px;
				}
			}
			ol ol {
				margin-left: 30px;
			}
		}
	}/* /.section-top */
	section {
		p , li {
			line-height: 27.1px;
		}
		p {
			margin-bottom: 10px;
		}
		p:last-child , ul {
			margin-bottom: 20px;
		}
		.underline {
			border-bottom: 1px dashed #222;
		}
		ul {
			margin-left: 10px;
		}
		/* /.fa-external-link */
		i {
			margin-left: 3px;
			font-size: 10px;
		}
	}
	section.footnote {
		font-size: 15.3px;
		ol {
			margin-left: 50px;
			margin-bottom: 20px;
			list-style-type: decimal;
			li {
				margin-bottom: 0;
				line-height: 24.4px;
			}
		}
	}
}/* /.main-body-main */