/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*-----------------
Base
-----------------*/
body {
	width: 100%;
	height: 100%;
	background-image: url('../img/bg _img.gif');
	background-repeat: repeat;
}

/*-----------------
Module
-----------------*/

/*-----------------
Layout
-----------------*/
.container {
	width: 922px;
	margin: 0 auto;
}

/*-----------------
Body
-----------------*/
header {
	height: 174px;
	padding-top: 62px;
	// border: 1px solid #000;
}
header h1 {
	display: none;
}

.header-logo {
	display: block;
	border-bottom: 1px solid #000;
	padding-top: 13px;
	padding-bottom: 1px;
	background-image: url('../img/header_line.gif');
	background-repeat: repeat-x;
}
.header-logo img {

}
header nav li {
	display: inline-block;
}
header nav a {
	display: block;
	height: 54px;
	background-image: url('../img/header_nav.gif');
}
header nav .nav-link-news {
	width: 141px;
	background-position: left top;
}
header nav .nav-link-news:hover {
	background-position: left bottom;
}
header nav .nav-link-brand {
	width: 149px;
	background-position: -141px 0;
}
header nav .nav-link-brand:hover {
	background-position: -141px bottom;
}
header nav .nav-link-reItem {
	width: 267px;
	background-position: -290px 0;
}
header nav .nav-link-reItem:hover {
	background-position: -290px bottom;
}
header nav .nav-link-shop {
	width: 162px;
	background-position: -557px 0;
}
header nav .nav-link-shop:hover {
	background-position: -557px bottom;
}
header nav .nav-link-online {
	width: 203px;
	background-position: -719px 0;
}
header nav .nav-link-online:hover {
	background-position: -719px bottom;
}
header .header-url-text {
	margin-top: -3px;
	border: solid #000;
	border-width: 1px 0;
	padding-top: 3px;
	text-align: center;
}
header .nav-office {
	position: relative;
	top: -23px;
	left: 719px;
}
header .nav-office li {
	display: inline-block;
	height: 19px;
	padding-left: 9px;
	margin-right: 10px;
	background-image: url('../img/header_icon_arrow.png');
	background-position: left center;
	background-repeat: no-repeat;
}
header .nav-office li a:hover {
	opacity: 0.8;
}

/*-- .wraper-topslide --*/
.topslide-box-wrapper {
	display: flex;
	width: 100%;
	height: 389px;
	margin-top: 44px;
	background-image: url('../img/topslide_bg_img.gif');
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 0;
}
.topslide-frame {
	height: 368px;
	width: 922px;
	background-image: url('../img/topslide_frame.gif');
	position: relative;
	.image {
		z-index: -1;
		position: relative;
		height: 368px;
		width: 922px;
	}
}
.wrapper-topslide ul {
	margin-top: 18px;
	text-align: center;
	li {
		display: inline-block;
		margin-right: 13px;
		a {
			display: block;
			width: 18px;
			height: 15px;
		}
	}
	li:last-child {
		margin-right: 0;
	}
	.index-01 {
		background-image: url('../img/header_index_01.gif');
		background-position: left top;
	}
	.index-01:hover {
		background-image: url('../img/header_index_01.gif');
		background-position: left bottom;
	}
	.index-02 {
		background-image: url('../img/header_index_02.gif');
		background-position: 18px 0;
	}
	.index-02:hover {
		background-image: url('../img/header_index_02.gif');
		background-position: 18px bottom;
	}
	.index-03 {
		background-image: url('../img/header_index_03.gif');
		background-position: 36px 0;
	}
	.index-03:hover {
		background-image: url('../img/header_index_03.gif');
		background-position: 36px bottom;
	}
	.index-04 {
		background-image: url('../img/header_index_04.gif');
		background-position: 54px 0;
	}
	.index-04:hover {
		background-image: url('../img/header_index_04.gif');
		background-position: 54px bottom;
	}
}

/*-- section-topics --*/
section.topics {
	h2 {
		margin-top: 76px;
		margin-bottom: 20px;
		padding-top: 22px;
		background-image: url('../img/section2_top_line.gif');
		background-repeat: no-repeat;
		.title-topics {
			display: block;
			margin: 0 auto;
		}
		.topics-sub {
			margin-top: 100px;
			display: block;
		}
	}
	div {
		margin-bottom: 35px;
		border-top: 1px solid #000;
		text-align: center;
		img {
			position: relative;
			top: -10px;
		}
	}
	ul {
		width: 860px;
		margin: 0 auto;
		margin-bottom: 30px;
		li {
			display: inline-block;
			margin-right: 54px;
			text-align: center;
			font-size: 12px;
			line-height: 18px;
			font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
			a {
				display: block;
				color: #000;
				img {
					border: 1px solid #838697;
					box-sizing: box-sizing;
				}
			}
			a:hover {
				text-decoration: none;
				img {
					opacity: 0.8;
				}
			}
		}
		li:last-child {
		 margin-right: 0;
		}
	}
	ul:last-child {
		margin-bottom: 65px;
	}
}

/*-- section-news --*/
section.news {
	h2 {
		margin-bottom: 30px;
		padding-top: 35px;
		background-image: url('../img/section3_top_lineimg.png');
		background-repeat: no-repeat;
		text-align: center;
	}
	> p {
		margin-bottom: 41px;
		border-top: 1px solid #000;
		text-align: center;
		img {
			position: relative;
			top: -10px;
		}
	}
	li {
		display: inline-block;
		width: 33.3%;
		height: 192px;
		padding-right: 37px;
		padding-left: 30px;
		border-right: 4px double #87827b;
		vertical-align: top;
		box-sizing: border-box;
		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
		a {
			font-size: 14.04px;
			line-height: 21.06px;
			font-weight: bold;
			color: #000;
		}
		p {
			margin-top: 23px;
			font-size: 12px;
			line-height: 18px;
			color: #65676d;
		}
		p:last-child {
			margin-top: 14px;
			font-size: 10px;
			line-height: 10px;
			color: #000;
			font-style: oblique;
		}
	}
	li:first-child {
		padding-left: 0;
	}
	li:last-child {
		border: none;
		padding-right: 0;
	}
}
section.recommendItem {
	h2 {
		margin-top: 125px;
		padding-top: 42px;
		background-image: url('../img/section4_top_lineimg.png');
		background-repeat: no-repeat;
		text-align: center;
	}
	> p {
		margin-top: 36px;
		margin-bottom: 20px;
		border-top: 1px solid #000;
		text-align: center;
		img {
			position: relative;
			top: -10px;
		}
	}
	ul {
		// border: 1px solid #000;
		li {
			display: inline-block;
			// width: 33.3%;
			// border-right: 4px double #847f78;
			// padding-right: 30px;
			// padding-left: 30px;
			box-sizing: border-box;
			// text-align: center;
			> .item-image {
				border: 5px solid #000;
				box-sizing: border-box;
			}
			div {
				text-align: center;
				a:first-child {
					padding-right: 8px;
				}
				a:last-child {
					padding-left: 8px;
				}
			}
			> p {
				width: 268px;
				margin-top: 20px;
				font-size: 12px;
				line-height: 18px;
				color: #616268;
				text-align: left;
			}
		}
		li:first-child {
			padding-right: 28px;
			padding-left: 0;
			// border: 1px solid #000;
		}
		li:nth-of-type(2) {
			border-right: 4px double #847f78;
			border-left: 4px double #847f78;
			padding-right: 22px;
			padding-left: 30px;
		}
		li:last-child {
			border: none;
			padding-right: 0;
			padding-left: 30px;
		}
	}
}